################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/backend/KYC.TrueFace.Core.API/appsettings.Local.json
